/web/bundles/
/web/uploads/
/web/css/compiled/
/web/js/compiled/
/web/sitemap/
!web/sitemap/.gitkeep
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/app/var/sessions/*
!app/var/sessions/.gitkeep
!app/cache/.gitkeep
!app/logs/.gitkeep
/web/cache/*
!web/cache/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
.DS_Store
._DS_Store
.rsync_cache
