{% extends "CsCloudFrontendBundle::layout.html.twig" %}

{% block meta_robots %}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">homepage</li>
    </ol>
{% endblock %}

{% block body %}
{% endblock %}
